<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Retour</ion-button>
    </ion-buttons>
    <ion-title>Modifier la Session</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="3">
          <ion-item>
            <ion-input type="number" class="ion-text-center" formControlName="hours"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="1">
            <ion-label>h</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-input type="number" class="ion-text-center" formControlName="minutes">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
            <ion-label>min</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-row>
            <ion-col size="12">
              <ion-button (click)="onIncrementHourButtonClick()" [disabled]="plusDisabled">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button (click)="onDecrementHourButtonClick()" [disabled]="minusDisabled">
                <ion-icon slot="icon-only" name="remove"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Date de la session :</ion-label>
            <ion-datetime display-format="DD/MM/YYYY HH:mm" max="2050" formControlName="dateSession"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-items-center">
        <ion-col size="12">
          <ion-item>
            <ion-segment value="classique" (ionChange)="modeSegmentChanged($event)" formControlName="type">
              <ion-segment-button value="classique">
                <ion-label>Session Classique</ion-label>
              </ion-segment-button>
              <ion-segment-button value="etude">
                <ion-label>Session Etude</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Nombre de publications: </ion-label>
            <ion-input type="number" placeholder="0" formControlName="nbPublications"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Nombre de vidéos: </ion-label>
            <ion-input type="number" placeholder="0" formControlName="nbVideos"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Nombre de visites: </ion-label>
            <ion-input type="number" placeholder="0" formControlName="nbVisites"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Commentaires: </ion-label>
            <ion-textarea formControlName="comments" rows="3"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-img [src]="imagePath"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
            <ion-button (click)="onTakePictureButtonPush()" color="secondary" expand="block">
              Ajouter une photo
            </ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button type="submit" expand="block" color="primary" [disabled]="!mainForm.valid">
              Enregistrer
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
