<ion-header>
  <ion-toolbar>
    <ion-title>Activité</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onNewSessionButtonClick()">
        <ion-icon slot="icon-only" name="add" ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon> <!-- TODO : Change menu icon to more icon -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed class="ion-no-margin ion-no-padding">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col size="12">
        <div class="resume">
          <h1>Activité de ce mois :</h1>
          <div class="subtitle">{{ sumHours }}h et {{ sumMinutes }} min</div>
          <div>Nombre de publications : {{ sumPublications }}</div>
          <div>Nombre de visites : {{ sumVisites }}</div>
          <div>Nombre d'études: {{ sumStudies }}</div>
          <div>Nombre de vidéos: {{ sumVideos }}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
          <div class="sessionCardsList" *ngIf="nbSessions > 0">
                <app-session-card [mySession]="session" [refreshList]="refreshList" *ngFor="let session of sessionsListFiltered"></app-session-card>
          </div>
          <div class="sessionListEmpty ion-align-items-center ion-justify-items-center" *ngIf="nbSessions <= 0">
            Vous n'avez aucune session ce mois-ci !
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>