<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Retour</ion-button>
    </ion-buttons>
    <ion-title>Session</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h1>{{ session.duration.hours }}h{{ displayedMinutes }}</h1>
        <h3>Le {{ sessionDetailedDate }}</h3>
        <div>{{ detailedType }}</div>
        <div>Nombre de publications : {{ session.nbPublications }}</div>
        <div>Nombre de visites : {{ session.nbVisites }}</div>
        <div>Nombre de vidéos : {{ session.nbVideos }}</div>
        <ion-img *ngIf="session.imagePath" [src]="session.imagePath"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-align-items-center">
        <ion-button (click)="dismissModal()">
          Ok
        </ion-button>
        <ion-button (click)="showEditSessionModal()">
          Modifier la session 
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
